<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.YuyuechuliMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Yuyuechuli">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="bianhao" property="bianhao" jdbcType="VARCHAR"/>
                                    <result column="fuwuxiangmu" property="fuwuxiangmu" jdbcType="VARCHAR"/>
                                    <result column="tupian" property="tupian" jdbcType="VARCHAR"/>
                                    <result column="jiage" property="jiage" jdbcType="DECIMAL"/>
                                    <result column="yuyuerenxingming" property="yuyuerenxingming" jdbcType="VARCHAR"/>
                                    <result column="lianxifangshi" property="lianxifangshi" jdbcType="VARCHAR"/>
                                    <result column="yuyueshijian" property="yuyueshijian" jdbcType="VARCHAR"/>
                                    <result column="yuyueren" property="yuyueren" jdbcType="VARCHAR"/>
                                    <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
                                                    <result column="fuwuyuyueid" property="fuwuyuyueid" jdbcType="INTEGER"/>
                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, bianhao, fuwuxiangmu, tupian, jiage, yuyuerenxingming, lianxifangshi, yuyueshijian, yuyueren, beizhu, fuwuyuyueid, addtime    </sql>
    </mapper>
